<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_category.name %>
</p>

<%= link_to 'Edit', edit_course_category_path(@course_category) %> |
<%= link_to 'Back', course_categories_path %>
