production:
  SECRET_KEY_BASE: 7e8cd4b54fa3f396eeab59aa2367b5678df10189fbf9ba8ccbb206f8bdcd80c982fcb47e44cd10ae63618ffea1a82d60426d46e9ddab7bc62cec9b5b6e7774c6$ 
  AWS_ACCESS_KEY_ID: AKIAJM2SFE4FKJDWUWIQ
  AWS_SECRET_ACCESS_KEY: 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
  S3_REGION: ap-northeast-1
  S3_BUCKET: larosvomme