body, .navbar {
	background: #1c1c1c !important;
	color: #f3f2f2 !important;
	border: none !important;
	font-family: "Open Sans", Arian, Helvetica, sans-serif !important;
  font-weight: 400
}

body {
	font-size: 20px !important;
}

.container {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

p, ol, ul, td, h1, h3, h4, h5, h6 {
	font-family: "Open Sans", Arian, Helvetica, sans-serif !important;
}

@font-face {
    font-family: 'JuliusSansOne';
    src: asset_url('JuliusSansOne-Regular.ttf') format('truetype');
}

.navbar a {
  font-family: "JuliusSansOne", Arial, Helvetica, sans-serif !important;
  font-size: 14px;
}



h2 { font-family: "JuliusSansOne", Arial, Helvetica, sans-serif !important }

.coach {
  background: #f3f2f2;
  color: #1c1c1c;
}

a { color: #f3f2f2 !important }
a:hover { text-decoration: none !important; background: none !important }
.coach a { color: #1c1c1c !important }

#error_explanation ul li {color: #1c1c1c }

select { color: #1c1c1c !important }

/* COURSE INDEX PAGE */

@media only screen and (min-width: 765px) {
	.course-image {
    width: 100%;
    height: 14vw;
    object-fit: cover;
    transition: 0.3s;
    }
	.card-body {
	height: 102px;
	}
  .width65 { width: 65% }
}
@media only screen and (max-width: 765px) {
	.course-image {
	    width: 100%;
	    height: 26vw;
	    object-fit: cover;
	    transition: 0.3s;
	    }
}
.card {
	border: 1px solid #e5e5e5;
	border-radius: .45rem;
    transition: .5s ease;
}
.card-body {
	padding: 20px;
}
.list-group-item {
	padding-left: 0.85rem !important;
	padding-right: 0.85rem !important;
	padding-top: 0.35rem !important;
	padding-bottom: 0.35rem !important;
	font-size: 14px;
}

.card-btn-1 {
	padding: 10px;
	background: linear-gradient(to right, #f3f2f2, #DBDADA);
	text-align: center;
	border-right: 1px solid #fff;
	color: #1c1c1c;
    transition: 0.3s;
}
.card-btn-1:hover {
	opacity: 0.5;
	text-decoration: none;
	color: #1c1c1c
}
.card-btn-2 {
	padding: 10px;
	background: linear-gradient(to right, #DBDADA, #c3c2c2);
	text-align: center;
	color: #1c1c1c;
    transition: 0.3s;
}
.card-btn-2:hover {
	opacity: 0.5;
	text-decoration: none;
	color: #1c1c1c
}

.card-text {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background: #fff;
    color: #777;
}
.list-group {
	margin-bottom: 0 !important
}

.list-group-item:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.list-group-item:last-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* END OF COURSE INDEX PAGE */

input { color: #1c1c1c !important }


/* NAVBAR */

.navbar { margin-bottom: 0px !important }

.btn-info {background: #ff6532 !important; border-color: #ff3f00 !important}

li a:hover { text-decoration: none }

.top-navbar { font-size: 12px;color:#f3f2f2 !important }

.sidebar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none !important;
}

/* END OF NAVBAR*/


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #ff3f00;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ff3f00;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    background: #ff6532 !important;
}
#sidebar ul li a { transition: 0.5s; }


#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #ff3f00;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.dropdown-menu { 
  font-size: 20px !important;
  background: #1c1c1c !important;
  color: #aaa9a9 !important;
  font-size: 16px !important;
  font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

.navbar .dropdown-menu li { border-bottom: 1px solid #ff3f00 !important; padding: 10px !important }

a.article, a.article:hover {
    background: #ff6532 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* END OF NAVBAR */


/* ---------------------------------------------------
    EDIT COURSE
----------------------------------------------------- */


@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 40%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
/* ---------------------------------------------------
    END OF EDIT COURSE
----------------------------------------------------- */


/* ---------------------------------------------------
    HOME PAGE
----------------------------------------------------- */

.cover {
  background-size: cover;
  height: 400px;
}
.bg-header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fusion-section-separator { position: relative }
.fusion-section-separator .divider-candy-arrow.bottom { border-width: 29px 29px 0 29px }
.fusion-section-separator .divider-candy-arrow { 
left: 50%;
margin-left: -29px;
height: 0;
width: 0;
border-color: transparent;
    border-top-color: transparent;
border-style: solid; }

.padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-button {
  background: #f72000;
  color: #fff;
  border-radius: 25px;
  padding: 13px 29px;
  font-size: 14px;
  -webkit-transition: background 0.3s; /* Safari */
  transition: background 0.3s;
}
.main-button:hover {
  background: #FF5E28 !important;
}
.large-button {
  background: linear-gradient(to right, #f72000, #f7005b);
  color: #fff;
  border-radius: 25px;
  padding: 13px 29px;
  font-size: 20px;
  -webkit-transition: background 0.3s; /* Safari */
  transition: background 0.3s;
}
.large-button:hover {
  background: linear-gradient(to right, #f84c32, #f8327b) !important;
}

.hover { 
  -webkit-transition: opacity 0.2s; /* Safari */
  transition: opacity 0.2s;
}
.hover:hover {
  opacity: 0.5;
}

.place {
  background: #f3f2f2;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  color: #1c1c1c;
  text-align: center;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 100%;
  height: 200px;
}

/* flip speed goes here */
.flipper {
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transition: all .3s cubic-bezier(.2,.85,.4,1.275) !important;
  -o-transition: all .3s cubic-bezier(.2,.85,.4,1.275) !important;
  transition: all .3s cubic-bezier(.2,.85,.4,1.275) !important;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.row { margin: 0px !important}
/* ---------------------------------------------------
    END OF HOME PAGE
----------------------------------------------------- */
