<div class="footer">
    <div id="footer">
        <p class="text-muted credit text-center" style="padding: 10px">
	    	Lær å svømme AS &copy Copyright 2018  |   Design av <%= link_to 'Roys Webdesign', 'https://royswebdesign.no/', target: :blank %>   |   Alle Rettigheter Reservert   |   <%= link_to 'Powered by ViaChat', 'https://royswebdesign.no/', target: :blank %>
	    </p>
    </div>
</div>